body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


h1 {
	border-top: 1px solid #E33E2D;
	font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
	font-size: 6vw;
	text-align: left;
	padding: 3px;
	margin-top: 2%;
}

h2{
	font-size: 2vw;
	margin-top: -3%;
	font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
	background-color: black;
	color: white;
	width: 23%;
	padding: 10px;
	padding-left: 20px;
}

h6{
	font-family: nyt-imperial, georgia, "times new roman", times, serif;
	text-align: left;
	font-size: 3vw;
	margin-top: 3%;
}

p {
	font-family: 'Droid Serif';
	font-size: 3vw;
	margin-top: 5%;
	word-spacing: 1px;
}

span{
	font-family: nyt-imperial, georgia, "times new roman", times, serif;
	font-size: 2vw;
	letter-spacing: normal;
	word-spacing: 2px;
}

.container{
	margin-top: 5%;
}

.photo-caption{
	
	margin-top: 1%;
	font-size: 1vw;
}

.carousel {
  max-width: 100%;
  margin-top: 5%;
  height: auto;
  color: black;
}

.article-author {
	margin-top: 4%;
	font-family: American Typewriter, serif;
}

.date{

	margin-top: 4%;
}

.color{
	background-color: #C8F3F8;
	max-width: 100%;
}

.space{
	height: 23px;
}

.citation{
	border-top: 1px solid #2f2f2f;
	border-bottom: 1px solid;
	font-size: 5.5vw;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.social-icons{
	margin-top: 2%;
}

.google{
	border-radius: 50%;
	color: red;
	font-size: 24px;
}


.facebook{
	border-radius: 50%;
	color: blue;
	font-size: 24px;
}

.twitter{
	border-radius: 50%;
	color: #41A1F2;
	font-size: 24px;
}

.mail{
	border-radius: 50%;
	color: black;
	font-size: 24px;
}

